body {
    background-color: #024950;
    color: #748D92;
}

/* #newsDisplay img{
    width: 25%;        
    height: auto;
    display: block;
} */

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
  }

  .card:hover {
  transform: translateY(-5px);
}
