body {
    background-color: #780000;
    color: #f9e3b5;
}

/* #newsDisplay img{
    width: 25%;        
    height: auto;
    display: block;
} */

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
  }

  /* .custom-card {
    background-color: #c1121f;
  } */

  .card:hover {
  transform: translateY(-8px);
}

/* .custom-button {
  color: #003049;
} */

.nav-link:hover {
    color: #780000;
    transition: color 0.3s ease;
  }

  .card-img-top {
    height: 200px;
    object-fit: cover;
  }

  .custom-navbar{
    background-color: #f9e3b5;
  }
  
  .nav-link {
    color: #003049;
  }
