body {
    background-color: darkgreen;
}

#getTopNews img{
    width: 25%;        
    height: auto;
    display: block;
}

#getBusinessNews img{
    width: 25%;        
    height: auto;
    display: block;
}